In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split as split
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris
from pandas.tools.plotting import scatter_matrix
from mpl_toolkits.mplot3d import Axes3D
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [16]:
guys = pd.read_csv(r"t:\Users\yaniv\Dropbox\Dropbox\Limor_DS_Workspace\Course\Part 3 - Machine learning\02 - Classification\02 - Decision tree\weight.txt")
guys_train, guys_test = split(guys, train_size=0.7, random_state=0)
guys_train.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>105</th>
      <td>f</td>
      <td>44</td>
      <td>150.4</td>
      <td>51.4</td>
    </tr>
    <tr>
      <th>68</th>
      <td>f</td>
      <td>51</td>
      <td>166.1</td>
      <td>60.3</td>
    </tr>
    <tr>
      <th>479</th>
      <td>m</td>
      <td>32</td>
      <td>172.9</td>
      <td>76.8</td>
    </tr>
    <tr>
      <th>399</th>
      <td>f</td>
      <td>57</td>
      <td>172.9</td>
      <td>66.9</td>
    </tr>
    <tr>
      <th>434</th>
      <td>m</td>
      <td>33</td>
      <td>167.2</td>
      <td>72.9</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
x = np.linspace(0, 5, 10)
y = x ** 2

In [11]:
for zzz in range(y):

array([  0.        ,   0.30864198,   1.2345679 ,   2.77777778,
         4.9382716 ,   7.71604938,  11.11111111,  15.12345679,
        19.75308642,  25.        ])